{% extends 'shop/layouts/main.html' %}

 {% block content %}

<section class="py-5 text-center container">
<div class="row py-lg-5">
<div class='col-lg-6 col-md-8 mx-auto'>
<h1 class="fw-light">Bestseller</h1>  
<p>This is best product from the best sellers only on shopkart</p>
<p>
<a href="#"  class ="btn btn-primary my-2">Already user </a>
<a href="#"  class ="btn btn-primary my-2">Register </a>
</p>    
</div>
</div>  


<section class="bg-light py-4 my-5">
<div class="container">
    <div class="row">
        <div class="col-12">
            <h4 class="mb-3">Category</h4>  
            <hr style="border: none; border-top: 2px solid #b8bfc2;">
            {% include "shop/inc/message.html" %}
        </div>
    </div>
</div>


{% comment %} box-div {% endcomment %}
<div class="row align-items-stretch">
    {% for item in catagory %}
    <div class="col-md-4 col-lg-3 d-flex">
        <div class="card my-3 flex-fill">
         <a href="{% url 'collectionsview' item.name %}">
             <img src="{{ item.image.url }}" class="card-img-top" alt="{{ item.name }}">
        </a>
            <div class="card-body d-flex flex-column">
                <h5 class="card-title text-primary">
                    <a href="#">{{ item.name }}</a>
                </h5>
                <p class="card-text">{{ item.description }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>
 {% endblock content %}